.sass-cache
node_modules
bower_components
/build
/dev
/tmp

# Others
cgi-bin
error_log
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*
.DS_Store
.arch-params
.bzr
.hg
.monotone
.svn
.project
_darcs

# Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
